---
const startTimer = Date.now();

import { getStoryById } from "../../db/db";
import Layout from "../../layouts/Layout.astro";

const { storyId } = Astro.params;
let story = await getStoryById(parseInt(storyId));

if (!story) {
  return Astro.redirect("/");
}
---

<Layout title={"åt.se | " + story?.summary?.title}>
  <p
    class="my-5 text-3xl font-bold tracking-tight text-white"
    transition:name={"story-title" + story?.id}
  >
    {story?.summary?.title}
  </p>

  <div
    class="my-2 flex justify-start items-center space-x-2"
    transition:name={"story-meta" + story?.id}
  >
    <small class="font-light text-white text-sm">
      {story?.published_at.replace("T", " ").split(".")[0]}
    </small>
    <small class="font-light text-gray-500 text-sm">-</small>
    <small class="font-light text-white text-sm">
      {story?.category}
    </small>
    {
      story?.summary?.importance && (
        <>
          <small class="font-light text-gray-500 text-sm">-</small>
          <small class="font-light text-white text-sm">
            {story?.summary?.importance}
          </small>
        </>
      )
    }
  </div>

  <p
    class="font-normal text-white my-5"
    transition:name={"story-body" + story?.id}
  >
    {story?.summary?.body}
  </p>

  <hr class="h-px my-8 border-0 bg-gray-500" />

  <a
    href={story?.url}
    class="inline font-medium underline text-blue-500 underline-offset-2 decoration-500 decoration-solid hover:no-underline"
  >
    Läs originalet på expressen.se
  </a>

  <p class="text-sm text-gray-500 font-light pt-10">
    Loaded {JSON.stringify(story).split(" ").length} words in {
      Date.now() - startTimer
    } ms
  </p>
</Layout>
